body
{
 background-image:url('https://f.cloud.github.com/assets/5033770/949691/3e2c7182-0382-11e3-961e-b67776d4d6b4.jpg');
}

h1
 {
 color:Chartreuse;
 }

.container {background-color:Grey;}

h2
 {
  color:Chartreuse;
 }
 
li
  {
  color:Chartreuse;
 }
 
h3
  {
  color:Chartreuse;
 }
 
margin-top:100px;
margin-bottom:100px;
margin-right:50px;
margin-left:50px;
